html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 125%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    color: rgb(220, 220, 220);
    color: rgba(0, 0, 0, .8);
}

body {
    background: black url("images/stripes.jpg") top left repeat fixed;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

form {
    font-size: 2rem;
    text-align: center;
}

.header {
    width: 90%;
    margin: 2% 5% 0 5%;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(250, 250, 250, .6);
}

.playarea {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-top: none;
    background-color: rgb(250, 250, 250, .6);
    border-radius: 0 0 10px 10px;
}

.info {
    clear: both;
    float: left;
    width: 18%;
    min-width: 200px;
    font-family: Arial, sans-serif;
}

.info .sec1 {
    list-style-type: none;
}

.info .sec1 li {
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: center;
}

/* I think this can be removed */
/* h2 {
    font-size: 3rem;
} */

.letter {
    font-size: 6rem;
    font-weight: 100;
}

/* .letterLi { This could be removed
    background-color: rgba(255, 255, 255, .95);
} */

.letterLi:hover {
    background-image: url("images/dotted.jpg");

}

.countdownLi:hover {
    background-image: url("images/dotted.jpg");
}

.countdown {
    font-size: 3.5rem;
    font-weight: 100;
    opacity: 100%;
}

.buttons {
    float: left;
    width: 99%;
    min-width: 172px;
    list-style-type: none;
}

.buttons li {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
}

.buttons li input {
    font-size: 1rem;
    display: block;
}

.categories {
    float: left;
    width: 45%;
    height: inherit;
    border-left: 2px solid black;
    padding: 3rem 0 2rem 10%;
    font-size: 2rem;
}

.categories ol {
    padding: auto 0 auto 0;
}

.players {
    float: right;
    width: 20%;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
}

.playerList {
    width: 60%;
    margin-left: 15%;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 100;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

@media (max-width: 1000px) {
    .letter {
        font-size: 4rem;
    }

    .countdown {
        font-size: 2.5rem;
    }

    .buttons li input {
        font-size: .8rem;
    }

    .categories {
        font-size: 1.5rem;
    }
}