html{
    line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 125%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    background: black url("images/stripes.jpg") top left repeat fixed;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    line-height: 1.5;
    color: rgb(44, 45, 48); 
}

.wrapper {
    max-width: 1750px;
    width: 95%;
    margin: 0 auto;
}

header {
    height: 125px;
    margin: 25px auto 0 auto;
    text-align: center;
    border: 2px solid black; 
    border-radius: 10px 10px 0 0;
    background-color: rgb(250, 250, 250, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

.playarea {
    height: calc(95vh - 150px); /* Takes header + margin into account */
    min-height: 600px;
    margin: 0;
    border: 2px solid black;
    border-top: none;
    background-color: rgb(250, 250, 250, .6);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 15%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sec1 {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.letter-wrap {
    height: 50%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3rem;
}

/* Only styling is font-weight, all other font styling is inherited in wrap class */
#letter {
    font-weight: 100; /* For some reason this does not inherit default automatically */
}

.countdown-wrap {
    height: 50%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

/* Only styling is font-weight, all other font styling is inherited in wrap class */
#countdown {
    font-weight: 100; /* For some reason this does not inherit default automatically */
}

.letter-wrap:hover {
    background-image: url("./images/dotted.jpg");
    background-size: cover;
}

.countdown-wrap:hover {
    background-image: url("./images/dotted.jpg");
    background-size: cover;
}

.button-wrap {
    height: 60%;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.buttons input {
    margin: 5px;
    padding: 4px;
    padding-bottom: 0;
    border: 1px solid black;
    border-radius: 3px;
}

.categories {
    width: 50%;
    padding: 30px 0;
    display: flex;
}

.categories ol {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

/* .players {
    width: 20%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players input {
    margin: 5px;
    padding: 4px;
    padding-bottom: 0;
    border: 1px solid black;
    border-radius: 3px;
}

.playerList {
    border-collapse: collapse;
    width: 90%;
}

.playerList th,
.playerList td {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
} */

@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {

}